<html>
<head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Anagrams</title>
</head>
<body>
    <div class='container'>
        <h1>Find your anagram</h1>
        <p>Enter your first word</p>
        <form action='/view_results'>
            <div class='form-group'>
                <label for='input_anagram'>Word:</label>
                <input id='input_anagram' name='input_anagram' class='form-control input-sm' type='Text input'>
            </div>
            <div class='form-group'>
                <label for ='input_2'>Possible Anagram:</label>
                <input id='input_2' name='input_2' class='form-control input-sm' type='Text input'>
            <button type='submit' class='btn btn-info' type='text'>Go!</button>
        </form>
    </div>
</body>
</html>
